.mycenter{
    font-size:50px;
    text-align: center;
    margin: auto;
    font-family: 'Archivo Black', sans-serif;
    border-radius: 25px;
    border: 4px solid black;
    padding: 20px;
    animation: fadeIn linear 2s;
  -webkit-animation: fadeIn linear 2s;
  -moz-animation: fadeIn linear 2s;
  -o-animation: fadeIn linear 2s;
  -ms-animation: fadeIn linear 2s;
  text-shadow: 0 0 3px #000000;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
  
a{
    color:black;
    font-family: 'Archivo Black', sans-serif;
}
#Left{
    float: left;
    
}
#Right{
    float: right;
    
}
#Round{
  border:1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  border-width: 4px;
}
a:hover,h1:hover,p:hover{
  opacity: 50%;
}
img:hover{
  filter:grayscale(0%);
}
img{
  filter:grayscale(100%);
  width:50%;
  height: auto;
}
.glow {
  color:#fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow{
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #00e626, 0 0 40px #00e626, 0 0 50px #00e626, 0 0 60px #00e626, 0 0 70px #00e626;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #4dff65, 0 0 40px #4dff65, 0 0 50px #4dff65, 0 0 60px #4dff65, 0 0 70px #4dff65, 0 0 80px #4dff65;
  }
}
body{
  margin: 0;
  height: 100%;
}
